header {
    background-color: #000;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    color: #fff;
    padding: 0 25px;
    min-height: 100vh;
    position:relative;
    overflow: hidden;
}

header .box {
    width: 100%;
    max-width: 1300px;
    padding: 0 20vw;
}

header h1 {
    font-size: 5.5rem;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    z-index: 10;
}
.color {
    -webkit-text-stroke: 2px #c7ff00;
    -webkit-text-fill-color: transparent;
}

header .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.30;
   /* background-image: url(../img/noise5.jpg);
    animation: animate .5s steps(10) infinite;
    z-index: 3;*/
}

canvas {
    position: absolute;
    left:0;
    top:15%;
    width:100%;
    height:100%;
    z-index:0;
} 

header .overlay2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.15;
    background-image: url(../img/noise5.jpg);
    z-index: 0;
}

header .overlay2[data-scroll="in"] {
    animation: animate 1s steps(5) infinite;
}
